html {
  font-family: sans-serif;
  color: white;
}

body {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(blanquito.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: rgba(128, 208, 207, 0.768);
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  height: 150px;
}

h1 {
  font-family: "Ghibli";
  font-size: 30px;
  font-weight: 50;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
#logo {
  width: 200px;
  flex-wrap: wrap;
}

main {
  display: flex;
  justify-content: center;
}

.order {
  position: absolute;
  display: flex;
  flex-direction: row;
}

#order {
  background-color: #ffffff;
  color: #5bcfcc;
  border-radius: 25px;
  text-align: center;
  margin-left: 20px;
  height: 35px;
  width: 200px;
  border: 0px;
  font-size: 15px;
  padding-right: 10px;
  flex-wrap: nowrap;
  flex-wrap: wrap;
}

#directors {
  background-color: #ffffff;
  color: #5bcfcc;
  border-radius: 25px;
  text-align: center;
  margin-left: 20px;
  height: 35px;
  width: 200px;
  border: 0px;
  font-size: 15px;
  padding-right: 10px;
  flex-wrap: nowrap;
  flex-wrap: wrap;
}

.barra {
  background-color: #f9ccc8;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  height: 70px;
}

#root {
  position: static;
  align-items: top;
  min-height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1200px;
  margin-top: 6em;
  margin-bottom: 30px;
}

.card {
  align-items: top;
  text-align: center;
  font-size: 10px;
  flex-wrap: nowrap;
  margin: 2em 2em 4em 2em;
  width: min-content;
  width: 250px;
  background: rgb(128, 208, 206, 0.5);
  border-radius: 25px 5px 5px 5px;
  /* box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2); */
  height: 350px;
}
.card img {
  margin-top: 2.5em;
  align-items: top;
  width: 200px;
  height: 280px;
  object-fit: cover;
  border-radius: 25px 5px 5px 5px;
  flex-wrap: nowrap;
  justify-content: center;
  transition: all 0.8 ease;
  box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);

}

.card img::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f9a3a3; /* color rosa */
  opacity: 0.7; /* opacidad del 70% */
  z-index: 1;
  border-radius: 25px 5px 5px 5px;
}

.card img:hover {
  filter: grayscale(1);
  transition: all 0.6% ease;
}

h2 {
  font-weight: 550;
  transform: translate(0px, 0);
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 3px;
  background-color: rgb(118, 209, 206, 1);
  line-height: 30px;
  border-radius: 5px 5px 5px 5px;
}

h3 {
  font-weight: 550;
  font-size: 15px;
  transform: translate(0px, -250px);
  flex-wrap: nowrap;
  justify-content: center;
  display: none;
  text-overflow: 200px;
}

p{
  font-weight: 550;
  transform: translate(0px, -240px);
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 3px;
  font-size: 13px;
  display:none;
}
p1{
  font-weight: 550;
  transform: translate(0px, -240px);
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 3px;
  display:none;
}
.card img:hover ~ h3 {
  display: block;
  transform: translate(0px, -250px);z
}
.card img:hover ~ p{
  display: block;
  transform: translate(0px, -250px);
}
.card img:hover ~ p1{
  display: block;
  transform: translate(0px, -250px);
}


@media (max-width: 600px) {
  #order,
  #directors,
  #logo {
    width: 100px;
  }
  header {
    height: 100px;
  }
}
