html {
  font-family: sans-serif;;
    color: white;
    }
  
  body{
    position: relative;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(blanquito.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
  }
  
  header{
    background-color: #80d0ce;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
  }

    h1{
      font-family: 'Ghibli';
      font-size: 30px;
      font-weight: 50;
      text-align: center;
      flex-wrap: nowrap;
      transform: translate(0,27px);
      
      
    }
    img{
      width: 200px;
      box-sizing: border-box;
        flex-wrap: nowrap;
      justify-content: center;
    }

  main{
    display: flex;
    justify-content: center;
  }

    .order{
      position: absolute;
      margin: 2em;
      display: flex;
      flex-direction: row;
    }

    #order{
      background-color: #ffffff;
      color: #5bcfcc;
      border-radius:25px;
      text-align: center;
      margin-left: 20px;
      height: 35px;
      width: 200px;
      border: 0px;
      font-size: 15px;
      padding-right: 10px;
      flex-wrap: nowrap;
      flex-wrap: wrap;
    }

    #directors{
      background-color: #ffffff;
      color: #5bcfcc;
      border-radius:25px;
      text-align: center;
      margin-left: 20px;
      height: 35px;
      width: 200px;
      border: 0px;
      font-size: 15px;
      padding-right: 10px;
      flex-wrap: nowrap;
      flex-wrap: wrap;
    }

    .barra{
      background-color: #f9ccc8;
      background-size: cover;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      box-sizing: border-box;
      text-align: center;
      align-items: center;
      height: 70px;
    }

    #root{
        position: static;
        min-height: 40px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;
        margin-top: 3em;
        margin-bottom: 30px;
    }


    .card{
        align-items: center;
        text-align: center;
        font-size: 12px;
        flex-wrap: nowrap;
        justify-content: center;
        margin: 1em;
        width: min-content;
    }

      .card img {
        width: 200px;
        height: 280px;
        object-fit: cover;
        border: 3px solid #80d0ce;
        border-radius: 25px 0 0 0;
        border-bottom: 0px;
        box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.2);
        flex-wrap: nowrap;
        justify-content: center;
      }

      h2{
        font-weight: 550;
        transform: translate(0px,320px);
        background-color: #80d0ce;
        flex-wrap: nowrap;
        justify-content: center;
        padding-top:3px;
        padding-bottom:10px;
      }