
html {
    font-family: sans-serif;
    color: white;
    }
  
  body{
      position: relative;
      margin:0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: url(fondorosa.jpg);
      background-size:cover;
      background-repeat:no-repeat;
      background-attachment: fixed;
  }
  
  header{
    background-image: url(kiki.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
  }

  h1{
    text-align: center;
    font-size: 40px;
    padding: 1em;
  }
  
  main{
    display: flex;
    justify-content: center;
  }
 
  
  #root{
      position:static;
      align-items: center;    
      min-height: 40px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      width: 1500px;      
  }
  
  .card{
      align-items: center;
      text-align: center;
      text-shadow: black 0.1em 0.1em 0.2em;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 1em;
      width:min-content;
  }
  
  
  